@keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .hover-underline-animation {
    position: relative;
    transition: color 0.3s;
  }
  
  .hover-underline-animation::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s;
  }
  
  .hover-underline-animation:hover {
    color: black;
  }
  
  .hover-underline-animation:hover::before {
    width: 100%;
    animation: underline 0.3s forwards;
  }
  
 